* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #435165;
}
.registered {
    display: grid;
    align-content: center;
    grid-template-columns: auto auto;
    grid-gap: 2px;
    width: 650px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.tick {
    font-size: 24px;
    grid-row: 1 / 3;
}

.tick p{
    padding-left: 1em;
}

.return-button {
    padding: 0 15px 15px 0;
}

.registered a {
    width: 20%;
    padding: 15px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    margin-bottom: 10px;
    margin-right: 10px;
    float: right;
    text-align: center;
    text-decoration: none;
}

.registered a:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}